.header-main{
    height: 145px;
    color: aliceblue;
    font-family: Impact;
    font-size: 35px;
    padding: 10px;
    border-bottom: 1px solid gray;
}
.noon{
    background: #c7b39b url(../../style/noon.jpg);
    background-size:100% 185px;
}
.evening{
    background: #c7b39b url(../../style/evening.jpg);
    background-size:100% 185px;
}
.night{
    background: #c7b39b url(../../style/night.jpg);
    background-size:100% 185px;
}
.morning{
    background: #c7b39b url(../../style/morning.jpg);
    background-size:100% 185px;
}
.date-name{
    padding-top: 70px;
}
