.header-task-info{
    display: flex;
    justify-content:space-between;
    padding: 3px 0 0 0;

}
.star-info{
    width: 43px;
    height: 43px;
}
.name-task-info{
    text-align: center;
    font-size: 55px;
    font-family: Monotype Corsiva;
    font-weight: bold;
}
.button-edit-info{
    cursor: pointer;
    width: 33px;
    height: 33px;
    padding: 5px 5px 0 0;
}


.article-task-info{
    padding-bottom: 200px;
}
.name-desc-info, .name-date-info, .name-group-info{
    font-family: Century Gothic;
    font-size: 33px;
    text-decoration:underline aliceblue;
    font-weight: bold;
    padding-right:20px; 
}

.footer-task-info{
    display: flex;
    justify-content:space-between;
}
.container-task-info{
    justify-content:space-between;
    display: flex;
    flex-direction:column;
    height: 400px;
    width: 750px;
    border: 10px solid aliceblue;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    margin-top:100px;
    font-size: 25px;
    background: rgba(58, 8, 105, 0.3) linear-gradient(rgba(130, 13, 240, 0.3), rgba(58, 8, 105, 0.3));
}
.text-to-main{
    padding:20px 30px; 
    color: aliceblue;
    font-size: 35px;
    font-weight: bold;
    cursor: pointer;
}
